## Pandas Introduction

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['w','x','y','z'] #python list

In [3]:
list1 = [10,20,30,40] #python list

In [4]:
array = np.array([10,20,30,40]) #numpy array

In [5]:
dict1 = {'w':10,'x':20,'y':30,'z':40} #dictionary

In [6]:
# Creating a series using pandas with original/default index values
pd.Series(data=list1)

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
# creating a series with custom index values
pd.Series(data=list1, index=labels)

w    10
x    20
y    30
z    40
dtype: int64

In [8]:
pd.Series(list1, labels)

w    10
x    20
y    30
z    40
dtype: int64

In [9]:
# creating a sries from numpy array
pd.Series(array)

0    10
1    20
2    30
3    40
dtype: int32

In [10]:
pd.Series(array,labels)  #creating series from numpy array with custom label

w    10
x    20
y    30
z    40
dtype: int32

In [11]:
pd.Series(dict1) # Creating a series from a dictionary
#Automatically custom index values are picked from dictionary(keys)

w    10
x    20
y    30
z    40
dtype: int64

 ## Indexing in pandas

In [12]:
sports = pd.Series([1,2,3,4],['Cricket','Football','Basketball','Golf'])

In [13]:
sports

Cricket       1
Football      2
Basketball    3
Golf          4
dtype: int64

In [14]:
sports['Cricket']

1

In [15]:
sports[0]

1

In [16]:
# either chose the custom index value or default index value to access the elements

In [17]:
sports2 = pd.Series([1,2,5,4],['Cricket','Football','Baseball','Golf'])

In [18]:
sports + sports2

Baseball      NaN
Basketball    NaN
Cricket       2.0
Football      4.0
Golf          8.0
dtype: float64

In [19]:
# values are added with common values
# with unique values are not added

In [20]:
# whenever we use random number in numpy its adviced to use random seed so that 
# everytime when we run the code value will be the same random number
np.random.seed(15)
# seed can be any integer

In [21]:
# creating a data frame
dataframe = pd.DataFrame(np.random.randn(10,5),index='A B C D E F G H I J'.split(' ')
                        ,columns='Score1 Score2 Score3 Score4 Score5'.split(' '))

In [22]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -0.312328  0.339285 -0.155909 -0.501790  0.235569
B -1.763605 -1.095862 -1.087766 -0.305170 -0.473748
C -0.200595  0.355197  0.689518  0.410590 -0.564978
D  0.599391 -0.162936  1.600215  0.681627  0.014880
E -0.087780 -0.982118  0.121690 -1.137437  0.349003
F -1.858513 -1.167182  1.424897  1.496565  1.289932
G -1.811745 -1.498307 -1.450143 -1.693907  0.227264
H -0.489735 -0.000529 -0.490253 -0.793209  2.048899
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [23]:
# select a columns

In [24]:
dataframe['Score3']

A   -0.155909
B   -1.087766
C    0.689518
D    1.600215
E    0.121690
F    1.424897
G   -1.450143
H   -0.490253
I    1.215042
J   -0.250321
Name: Score3, dtype: float64

In [25]:
dataframe[['Score2','Score1']]

     Score2    Score1
A  0.339285 -0.312328
B -1.095862 -1.763605
C  0.355197 -0.200595
D -0.162936  0.599391
E -0.982118 -0.087780
F -1.167182 -1.858513
G -1.498307 -1.811745
H -0.000529 -0.489735
I -0.998202  0.603185
J -0.782609  1.416774

In [26]:
# creating a new column in a data frame

In [27]:
dataframe['Score6']=dataframe['Score1']+dataframe['Score2']

In [28]:
dataframe

     Score1    Score2    Score3    Score4    Score5    Score6
A -0.312328  0.339285 -0.155909 -0.501790  0.235569  0.026956
B -1.763605 -1.095862 -1.087766 -0.305170 -0.473748 -2.859467
C -0.200595  0.355197  0.689518  0.410590 -0.564978  0.154602
D  0.599391 -0.162936  1.600215  0.681627  0.014880  0.436454
E -0.087780 -0.982118  0.121690 -1.137437  0.349003 -1.069897
F -1.858513 -1.167182  1.424897  1.496565  1.289932 -3.025695
G -1.811745 -1.498307 -1.450143 -1.693907  0.227264 -3.310052
H -0.489735 -0.000529 -0.490253 -0.793209  2.048899 -0.490263
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506 -0.395017
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688  0.634166

In [29]:
#droping a column

In [30]:
dataframe.drop('Score6',axis=1)

     Score1    Score2    Score3    Score4    Score5
A -0.312328  0.339285 -0.155909 -0.501790  0.235569
B -1.763605 -1.095862 -1.087766 -0.305170 -0.473748
C -0.200595  0.355197  0.689518  0.410590 -0.564978
D  0.599391 -0.162936  1.600215  0.681627  0.014880
E -0.087780 -0.982118  0.121690 -1.137437  0.349003
F -1.858513 -1.167182  1.424897  1.496565  1.289932
G -1.811745 -1.498307 -1.450143 -1.693907  0.227264
H -0.489735 -0.000529 -0.490253 -0.793209  2.048899
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [31]:
dataframe = dataframe.drop('Score6',axis=1)

In [32]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -0.312328  0.339285 -0.155909 -0.501790  0.235569
B -1.763605 -1.095862 -1.087766 -0.305170 -0.473748
C -0.200595  0.355197  0.689518  0.410590 -0.564978
D  0.599391 -0.162936  1.600215  0.681627  0.014880
E -0.087780 -0.982118  0.121690 -1.137437  0.349003
F -1.858513 -1.167182  1.424897  1.496565  1.289932
G -1.811745 -1.498307 -1.450143 -1.693907  0.227264
H -0.489735 -0.000529 -0.490253 -0.793209  2.048899
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [33]:
dataframe.drop('Score6',axis=1, inplace=True)

KeyError: "['Score6'] not found in axis"

In [ ]:
dataframe # column was not dropped it as created a view by dopping a column original dataframew as not edited

In [34]:
dataframe.drop('Score6',axis=1, inplace=True)

KeyError: "['Score6'] not found in axis"

In [35]:
# when we use inplace=True it will modify the original dataframe

In [36]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -0.312328  0.339285 -0.155909 -0.501790  0.235569
B -1.763605 -1.095862 -1.087766 -0.305170 -0.473748
C -0.200595  0.355197  0.689518  0.410590 -0.564978
D  0.599391 -0.162936  1.600215  0.681627  0.014880
E -0.087780 -0.982118  0.121690 -1.137437  0.349003
F -1.858513 -1.167182  1.424897  1.496565  1.289932
G -1.811745 -1.498307 -1.450143 -1.693907  0.227264
H -0.489735 -0.000529 -0.490253 -0.793209  2.048899
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [37]:
dataframe.drop('B',axis=0, inplace=True)

In [38]:
dataframe = dataframe.drop('B',axis=0)

KeyError: "['B'] not found in axis"

In [39]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -0.312328  0.339285 -0.155909 -0.501790  0.235569
C -0.200595  0.355197  0.689518  0.410590 -0.564978
D  0.599391 -0.162936  1.600215  0.681627  0.014880
E -0.087780 -0.982118  0.121690 -1.137437  0.349003
F -1.858513 -1.167182  1.424897  1.496565  1.289932
G -1.811745 -1.498307 -1.450143 -1.693907  0.227264
H -0.489735 -0.000529 -0.490253 -0.793209  2.048899
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [40]:
# Dropping the row

In [41]:
dataframe.drop('A',axis=0) #default axis will be 0

     Score1    Score2    Score3    Score4    Score5
C -0.200595  0.355197  0.689518  0.410590 -0.564978
D  0.599391 -0.162936  1.600215  0.681627  0.014880
E -0.087780 -0.982118  0.121690 -1.137437  0.349003
F -1.858513 -1.167182  1.424897  1.496565  1.289932
G -1.811745 -1.498307 -1.450143 -1.693907  0.227264
H -0.489735 -0.000529 -0.490253 -0.793209  2.048899
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [42]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -0.312328  0.339285 -0.155909 -0.501790  0.235569
C -0.200595  0.355197  0.689518  0.410590 -0.564978
D  0.599391 -0.162936  1.600215  0.681627  0.014880
E -0.087780 -0.982118  0.121690 -1.137437  0.349003
F -1.858513 -1.167182  1.424897  1.496565  1.289932
G -1.811745 -1.498307 -1.450143 -1.693907  0.227264
H -0.489735 -0.000529 -0.490253 -0.793209  2.048899
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [43]:
# selection of rows
dataframe.loc['F']

Score1   -1.858513
Score2   -1.167182
Score3    1.424897
Score4    1.496565
Score5    1.289932
Name: F, dtype: float64

In [44]:
dataframe.iloc[3]

Score1   -0.087780
Score2   -0.982118
Score3    0.121690
Score4   -1.137437
Score5    0.349003
Name: E, dtype: float64

In [45]:
# subsetting

In [46]:
dataframe.loc[['C','D'],['Score1','Score2']]

     Score1    Score2
C -0.200595  0.355197
D  0.599391 -0.162936

In [47]:
# conditional statement on dataframe. This can be used for selection critirea

In [48]:
dataframe>0.5

   Score1  Score2  Score3  Score4  Score5
A   False   False   False   False   False
C   False   False    True   False   False
D    True   False    True    True   False
E   False   False   False   False   False
F   False   False    True    True    True
G   False   False   False   False   False
H   False   False   False   False    True
I    True   False    True   False   False
J    True   False   False   False    True

In [49]:
dataframe[dataframe>0.5] # Applying condition for whole dataframe

     Score1  Score2    Score3    Score4    Score5
A       NaN     NaN       NaN       NaN       NaN
C       NaN     NaN  0.689518       NaN       NaN
D  0.599391     NaN  1.600215  0.681627       NaN
E       NaN     NaN       NaN       NaN       NaN
F       NaN     NaN  1.424897  1.496565  1.289932
G       NaN     NaN       NaN       NaN       NaN
H       NaN     NaN       NaN       NaN  2.048899
I  0.603185     NaN  1.215042       NaN       NaN
J  1.416774     NaN       NaN       NaN  1.729688

In [50]:
dataframe[dataframe['Score1']>0.5] #only get the matched values

     Score1    Score2    Score3    Score4    Score5
D  0.599391 -0.162936  1.600215  0.681627  0.014880
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [51]:
dataframe[dataframe['Score1']>0.5]['Score2'] # Showing only the score 2 column values

D   -0.162936
I   -0.998202
J   -0.782609
Name: Score2, dtype: float64

In [52]:
dataframe[dataframe['Score1']>0.5][['Score2','Score3']] # Showing multiple columns

     Score2    Score3
D -0.162936  1.600215
I -0.998202  1.215042
J -0.782609 -0.250321

In [53]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -0.312328  0.339285 -0.155909 -0.501790  0.235569
C -0.200595  0.355197  0.689518  0.410590 -0.564978
D  0.599391 -0.162936  1.600215  0.681627  0.014880
E -0.087780 -0.982118  0.121690 -1.137437  0.349003
F -1.858513 -1.167182  1.424897  1.496565  1.289932
G -1.811745 -1.498307 -1.450143 -1.693907  0.227264
H -0.489735 -0.000529 -0.490253 -0.793209  2.048899
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [54]:
dataframe[(dataframe['Score1']>0.5) & (dataframe['Score2']<0.8)]
# Applying multiple conditions with & | operator

     Score1    Score2    Score3    Score4    Score5
D  0.599391 -0.162936  1.600215  0.681627  0.014880
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

## Creating and resetting index

In [55]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -0.312328  0.339285 -0.155909 -0.501790  0.235569
C -0.200595  0.355197  0.689518  0.410590 -0.564978
D  0.599391 -0.162936  1.600215  0.681627  0.014880
E -0.087780 -0.982118  0.121690 -1.137437  0.349003
F -1.858513 -1.167182  1.424897  1.496565  1.289932
G -1.811745 -1.498307 -1.450143 -1.693907  0.227264
H -0.489735 -0.000529 -0.490253 -0.793209  2.048899
I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [56]:
dataframe = dataframe.reset_index()

In [57]:
dataframe

  index    Score1    Score2    Score3    Score4    Score5
0     A -0.312328  0.339285 -0.155909 -0.501790  0.235569
1     C -0.200595  0.355197  0.689518  0.410590 -0.564978
2     D  0.599391 -0.162936  1.600215  0.681627  0.014880
3     E -0.087780 -0.982118  0.121690 -1.137437  0.349003
4     F -1.858513 -1.167182  1.424897  1.496565  1.289932
5     G -1.811745 -1.498307 -1.450143 -1.693907  0.227264
6     H -0.489735 -0.000529 -0.490253 -0.793209  2.048899
7     I  0.603185 -0.998202  1.215042 -0.667516 -0.272506
8     J  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [58]:
dataframe = dataframe.drop('index', axis=1)

In [59]:
dataframe = dataframe.drop('level_0', axis=1)

KeyError: "['level_0'] not found in axis"

In [60]:
dataframe

     Score1    Score2    Score3    Score4    Score5
0 -0.312328  0.339285 -0.155909 -0.501790  0.235569
1 -0.200595  0.355197  0.689518  0.410590 -0.564978
2  0.599391 -0.162936  1.600215  0.681627  0.014880
3 -0.087780 -0.982118  0.121690 -1.137437  0.349003
4 -1.858513 -1.167182  1.424897  1.496565  1.289932
5 -1.811745 -1.498307 -1.450143 -1.693907  0.227264
6 -0.489735 -0.000529 -0.490253 -0.793209  2.048899
7  0.603185 -0.998202  1.215042 -0.667516 -0.272506
8  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [61]:
newindex = "IND JP CAN GE IT PL FY IU".split(' ')

In [62]:
dataframe['Countries']=newindex

ValueError: Length of values (8) does not match length of index (9)

In [63]:
dataframe

     Score1    Score2    Score3    Score4    Score5
0 -0.312328  0.339285 -0.155909 -0.501790  0.235569
1 -0.200595  0.355197  0.689518  0.410590 -0.564978
2  0.599391 -0.162936  1.600215  0.681627  0.014880
3 -0.087780 -0.982118  0.121690 -1.137437  0.349003
4 -1.858513 -1.167182  1.424897  1.496565  1.289932
5 -1.811745 -1.498307 -1.450143 -1.693907  0.227264
6 -0.489735 -0.000529 -0.490253 -0.793209  2.048899
7  0.603185 -0.998202  1.215042 -0.667516 -0.272506
8  1.416774 -0.782609 -0.250321 -0.308314  1.729688

In [64]:
dataframe.set_index('Countries', inplace=True)

KeyError: "None of ['Countries'] are in the columns"

In [65]:
dataframe

     Score1    Score2    Score3    Score4    Score5
0 -0.312328  0.339285 -0.155909 -0.501790  0.235569
1 -0.200595  0.355197  0.689518  0.410590 -0.564978
2  0.599391 -0.162936  1.600215  0.681627  0.014880
3 -0.087780 -0.982118  0.121690 -1.137437  0.349003
4 -1.858513 -1.167182  1.424897  1.496565  1.289932
5 -1.811745 -1.498307 -1.450143 -1.693907  0.227264
6 -0.489735 -0.000529 -0.490253 -0.793209  2.048899
7  0.603185 -0.998202  1.215042 -0.667516 -0.272506
8  1.416774 -0.782609 -0.250321 -0.308314  1.729688

## Basic operations in pandas

In [66]:
dataframe = pd.DataFrame({'custID':[1,2,3,4],
                         'SaleType':['big','small','medium','big'],
                         'SaleCode':['121','131','141','151']})

In [67]:
dataframe

   custID SaleType SaleCode
0       1      big      121
1       2    small      131
2       3   medium      141
3       4      big      151

In [68]:
dataframe.head(1)

   custID SaleType SaleCode
0       1      big      121

In [69]:
dataframe.tail(2)

   custID SaleType SaleCode
2       3   medium      141
3       4      big      151

In [70]:
dataframe

   custID SaleType SaleCode
0       1      big      121
1       2    small      131
2       3   medium      141
3       4      big      151

In [71]:
dataframe['SaleType'].unique()

array(['big', 'small', 'medium'], dtype=object)

In [72]:
dataframe['SaleType'].nunique()

3

In [73]:
dataframe['SaleType'].value_counts()

big       2
small     1
medium    1
Name: SaleType, dtype: int64

In [74]:
dataframe.columns

Index(['custID', 'SaleType', 'SaleCode'], dtype='object')

In [75]:
dataframe['SaleType'].describe()

count       4
unique      3
top       big
freq        2
Name: SaleType, dtype: object

In [76]:
dataframe['SaleType'].info

<bound method Series.info of 0       big
1     small
2    medium
3       big
Name: SaleType, dtype: object>

In [77]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   custID    4 non-null      int64
 1   SaleType  4 non-null      object
 2   SaleCode  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [78]:
# conditional filtering of the data frame

In [79]:
new_dataframe = dataframe[(dataframe['custID']!=4) & (dataframe['SaleType']=='big')]

In [80]:
new_dataframe

   custID SaleType SaleCode
0       1      big      121

In [81]:
# apply custom functions on dataframe

In [82]:
def profit(a):
    return a*4

In [83]:
profit(2)

8

In [84]:
dataframe['custID'].apply(profit)

0     4
1     8
2    12
3    16
Name: custID, dtype: int64

In [85]:
dataframe

   custID SaleType SaleCode
0       1      big      121
1       2    small      131
2       3   medium      141
3       4      big      151

In [86]:
dataframe['SaleType'].apply(len) # applying default function

0    3
1    5
2    6
3    3
Name: SaleType, dtype: int64

In [87]:
# deleting a column in the dataframe

In [88]:
del new_dataframe['SaleType']

In [89]:
new_dataframe

   custID SaleCode
0       1      121

In [90]:
#deleting the whole dataframe

In [91]:
del new_dataframe

In [92]:
new_dataframe

NameError: name 'new_dataframe' is not defined

In [93]:
dataframe

   custID SaleType SaleCode
0       1      big      121
1       2    small      131
2       3   medium      141
3       4      big      151

In [94]:
dataframe.index

RangeIndex(start=0, stop=4, step=1)

In [95]:
# sorting rows by  column

In [96]:
dataframe.sort_values(by='SaleCode', ascending=False)

   custID SaleType SaleCode
3       4      big      151
2       3   medium      141
1       2    small      131
0       1      big      121

In [97]:
dataframe.dropna()

   custID SaleType SaleCode
0       1      big      121
1       2    small      131
2       3   medium      141
3       4      big      151

In [98]:
dataframe.fillna('Not nan')

   custID SaleType SaleCode
0       1      big      121
1       2    small      131
2       3   medium      141
3       4      big      151

In [99]:
# reading files

In [101]:
df = pd.read_csv('C:\\Users\\TechieVISH\\OneDrive\\Desktop\\housing 1.csv') # delimiter=','

In [102]:
df.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished

In [103]:
df.to_csv('housing1.csv',index=False)

In [104]:
df1 = pd.read_excel('housing.xlsx',sheet_name='housing')

In [105]:
df1.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY

In [107]:
df1.to_excel('housing1.xlsx',index=False,sheet_name='housing')